body {
    font-size: 16px;
}

/* FEATURED AREA START*/
.featured-area {
    background-color: #FFFFFF;
}

.subtitle {
    font-size: 15px;
    line-height: 1.2em;
    color: #00c0ff;
    font-weight: 700;
    top: -4px;
    text-transform: uppercase;
    margin-bottom: 6px;
}

.title {
    font-size: 34px;
    line-height: 1.2em;
    color: #000000;
    font-weight: 700;
    text-transform: uppercase
}

.title-black {
    font-size: 34px;
    line-height: 1.2em;
    color: #1a1d1f;
    font-weight: 700;
    text-transform: uppercase
}

.area {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(12, 8vw);
    grid-gap: 15px;
}

.area__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-hover-zoom {
    overflow: hidden;
}

.img-hover-zoom img {
    transition: transform .8s ease;
}

.img-hover-zoom:hover img {
    transform: scale(1.2);
}

.area__item {
    position: relative;
}

.area__item:hover {
    cursor: pointer;
}

.area__item:hover .area__img {
    filter: brightness(40%);
}

.area__item:hover .view-all {
    opacity: 1;
}

.area__item--1 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 6;
}

.area__item--2 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 3;
}

.area__item--3 {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 3;
}

.area__item--4 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 10;
}

.area__item--5 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 10;
}

.area__item--6 {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 6;
}

.area__item--7 {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 10;
}

.area__item--8 {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 10;
    grid-row-end: 13;
}

.area__item--9 {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 10;
    grid-row-end: 13;
}

.textBoxTest {
    position: absolute;
    left: 10%;
    top: 10%;
}

.info-box {
    position: absolute;
    top: 50%;  
    left: 50%;  
    transform: translate(-50%, -50%);
    padding: 5% 0% 0% 6%;
    opacity: 0;
    text-align: center;
}

.area__item:hover .info-box {
    opacity: 1;
}

.info-box:hover {
    cursor: pointer;
}

.category-area {
    position: relative;
    font-size: 18px;
    line-height: 1.2em;
    color: #ffffff;
    font-weight: 500;
    margin-bottom: 8px;
    font-family: "Raleway", sans-serif;
}

.place {
    position: relative;
    font-size: 30px;
    line-height: 1.2em;
    color: #ffffff;
    font-weight: 500;
    margin-bottom: 5px;
}

.place a {
	display: inline-block;
	color: #ffffff;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}

.place a:hover {
	color: #222222;
    text-decoration: none;
}

.view-all {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 72%;
    left: 73%;
    text-align: center;
}

.view-all-text {
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}
/* FEATURED AREA END */

/* ABOUT US AREA START*/
.about-us-container {
    background-color: #FFFFFF;
}

.vertical-divider {
    display: inline-block;
    border-left: 3px solid #24CED8;
    margin: 0 10px;
    height: 55px;
}

.about-us-title {
    font-size: 34px;
    color: #2b3135;
}

.about-us-subtitle {
    font-size: 20px;
    color: #A9B2B7;
}

.about-us-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-container {
    background-color: #FFFFFF;
}

.card-container:hover {
    cursor: pointer;
}

.card-container:hover .classWithPad {
    background-color: #24CED8;
}

.card-container:hover .card-number {
    color: #CAF3F6;
}

.card-container:hover .card-title {
    color: #FFFFFF;
}

.card-container:hover .card-desc {
    color: #FFFFFF;
}

.card-number {
    font-size: 56px;
    font-weight: 700;
    color: #24CED8;
}

.card-title {
    font-size: 30px;
    color: black;
}

.card-desc {
    font-size: 18px;
    color: #838C91;
}

.classWithPad {
    padding: 15px;
    background-color: #F1F5F8;
}

.about-firstRow {
    max-height: 300px;
}
/* ABOUT US AREA END*/

/* HOME BANNER AREA START */
.home-banner-area {
    background-color: #FFFFFF;
}

.banner-overlay {
    position: absolute;
    top: 50%;  
    left: 50%;  
    transform: translate(-50%, -50%);
    text-align: center;
}

.banner-title {
    color: #FFFFFF;
    font-size: 40px;
    text-transform: uppercase;
    line-height: 60px;
}

.banner-subtitle {
    color: #FFFFFF;
    font-size: 20px;
}
/* HOME BANNER AREA END */

/* BIO AREA START */
.bio-area {
    background-color: #FFFFFF;
}

.bio-card {
    border: 1px solid #ddd;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.bio-card:hover {
    background-color: #E39A31;
}

.bio-card:hover .bio-name {
    color: #FFFFFF;
}

.bio-card:hover .bio-designation {
    color: #000000;
}

.bio-image-container {
    display: flex;
    justify-content: center;
}

.bio-name {
    color: #000000;
    margin: 0;
    font-size: 1.5rem;
    line-height: 2.25rem;
    text-transform: uppercase;
}

.bio-image {
    height: 255px;
    width: 284px;
    border-radius: 50%;
    padding: 0 1.5rem 1.5rem;
    background: rgba(221,221,221,.2);
        background-clip: border-box;
    border: 1.5rem solid rgba(0,0,0,.05);
        border-bottom-color: rgba(0, 0, 0, 0.05);
        border-bottom-style: solid;
        border-bottom-width: 1.5rem;
    border-bottom: 0;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    filter: none;
    -webkit-filter: grayscale(0);
    -moz-transform: scale(.95);
    -webkit-transform: scale(.95);
    -o-transform: scale(.95);
    -ms-transform: scale(.95);
    transform: scale(.95);
    transition-duration: .5s;
}

.bio-designation {
    color: #E39A31;
    font-style: normal;
    margin-left: 0;
    display: block;
    margin-top: .5rem;
}

.bio-divider {
    border-top: 1px solid rgba(0,0,0,.05);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    padding-top: 1rem;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.bio-icons {
    display: flex;
    flex-direction: row;
}

.bio-desc {
    font-size: 2rem;
    line-height: 2rem;
}
/* BIO AREA END */

/* Testimonial Carousal Area Start */
.testimonial-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(to right, #0e1216, #222c34);
}

.checkedStar {
	color: #2499ed;
}

.review-text {
	font-size: 1.4rem;
	font-weight: 400;
	line-height: 1.4;
	font-family: "Playfair Display",Georgia,serif;
	color: rgba(255,255,255,0.8);
	text-align: center;
	font-style: italic;
}

.reviewer {
	font-size: 1rem;
	line-height: 1.4;
	font-family: "Playfair Display",Georgia,serif;
	color: #2499ed;
	opacity: 0.8;
	text-align: center;
	font-style: italic;
}
/* Testimonial Carousal Area End */

/* Owl Carousal CSS Start */
.owl-carousel .card {
	border-radius: 10px;
	box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
}

.owl-dots {
	text-align: center;
}

.owl-dot {
	height: 10px;
	width: 10px;
	border-radius: 50%;
	margin: 0 5px;
	border: 2px solid #0072bc!important;
	box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
	transition: all 0.5s ease;
}

.owl-dot.active,
.owl-dot:hover {
	background: #0072bc!important;
}
/* Owl Carousal CSS End */

/* VIDEO AREA START */
.video-area {
    background: #151515;
    background-size: auto;
	background-size: cover;
}

.videoFrame {
    width: 75vw;
    height: calc(75vw/2.0);
}
/* VIDEO AREA END */